<div class="boxes">
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
    <div class="box">
        <img src="https://www.laut.de/Wintersun/wintersun-183236.jpg">
        <p>Wintersun</p>
    </div>
</div>